autograd==1.5
brotlipy==0.7.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
cma==3.3.0
colorama==0.4.6
configparser==5.3.0
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
daqp==0.5.1
ecos==2.0.12
et-xmlfile==1.1.0
fonttools==4.39.3
future==0.18.3
idna==3.4
importlib-resources==5.12.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
munkres==1.1.4
myokit==1.33.9
numpy==1.24.3
openpyxl==3.0.9
osqp==0.6.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pints==0.4.0
pip==21.2.4
platformdirs==3.5.0
ply==3.11
pooch==1.7.0
pycparser==2.21
pyOpenSSL==23.1.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
qdldl==0.1.7
qpsolvers==3.4.0
requests==2.29.0
scipy==1.10.1
scs==3.2.3
setuptools==67.7.2
sip==6.7.9
six==1.16.0
tabulate==0.9.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.3
tqdm==4.66.1
typing_extensions==4.5.0
tzdata==2023.3
unicodedata2==15.0.0
urllib3==1.26.15
wheel==0.40.0
zipp==3.15.0
